@font-face {
    font-family: sfPro;
    src: url(sources/sfPro.OTF);
}

* {
    margin: 0;
    padding: 0;
    font-family: sfPro;
}

body{
width: 100vw;
height: auto;
}


header {
    padding: 1.5vw 1.5vh;
    background-image: url('img/pianolandingpage.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 16vw auto;
    background-color: #b22525a9;
    border-radius: 50%;
    position: fixed;
    z-index: 100;
}

.navBar {
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.361);
    padding: 2vw 1.5vh;
    border-radius: 85px;
    right: 0;
    top: 9vh;
    position: fixed;
}

.navBar li {
    display: inline-block;
    margin-right: 1.5vw;
}

.navBar li a {
    color: #fff;
    text-decoration: none;
}

.navBar li a:hover {
    text-decoration: underline;
}


.escuelaTitle{
    width: 45vw;
    font-size: 3rem;
    margin-left: 52vw;
    margin-top: 20vh;
    text-align: center;
}

.red{
    width: 100vw;
    display: flex;
    position: relative;
}

.red img{
    width: 100vw;
    height: 90vh;
    display: block;
}

.escuelaText{
    color: black;
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -18%);
    text-align: center;
}

.whiteSpace{
    display: flex;
    justify-content: center;
}

.whiteSpace img{
    height: 70vh;
}

.ofertas{
    background-color:#ffffff;
    width: 100vw;
    height: 75vh;
    position: relative;
}

.ofertas img{
    width: 100%;
    height: auto;
    display: block;
}

button{
    width: 30vw;
    background-color:#000000;
    border: 4px #000000 solid;
    border-radius: 25px;
    padding: 1vw 1vh;
    color:#ffffff;
    font-weight: bold;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.buttons p{
    margin-bottom: 6vh;}

#footerImg{
    width: 100vw;
}

#footerSect{
    background-color: black; 
    margin-right: -1vw;
}

.iconsFooter{
    width: 5vw;
    height: 10vh;
    margin-left: 1vw;
}
.iconsFooter:hover{
    filter: invert(0.5);
    -webkit-filter: invert(0.5);
    
}
#footerBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footerBar ul{
    list-style-type: none; /* Elimina los puntos de la lista */
    margin: 0;
    padding: 0;
}


#footerBar li{
    display: inline;
    margin-right: 2vw;
}

#footerBar a{
    color: white;
    font-size: 2.5rem;
    text-decoration: none;
}

#footerBar a:hover{
    -webkit-filter: invert(0.5);
}
#footerSect hr{
    color: white;
    border: none;
    height: 4px;
    background-color: white;

}

#footerFinal{
    margin-top: 5vw;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
    flex-direction: column;
    align-items: center;
}
#footerFinal img{
    margin-bottom: 10vw;
    width: 30vw;
    height: 15vh;
}
#footerFinal h2{
    margin-top: -1.5vh;
}
#phoneNumber{
    padding-top: 40px;
}

#ourInstruments{
    background-color: white;
    width: 98vw;
    height: 98vh;
    display: flex;
    flex-direction: column;
    align-items: center ;

}

#ourInstruments h2{
    color: brown;
    font-size: 8rem;
    margin-bottom: 0;
    margin-top: -2vh;
    letter-spacing: 1vw;
    font-family: sfProLight;
}

#upperH2
{
    margin-left: 19vw;
}

.instrumentsCards{
    margin-top: 7vh;
    background-color: brown;
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
}

.cardText{
    color: white;
    font-size: 3rem;
    letter-spacing: 0.3vw;
    align-self: center;
    padding-bottom: 1vw;
}

.instrumentsCards img{
    padding: 3vw;
    padding-top: 4vw;
    padding-bottom: 2vw;
    width: 23vw;
    height: 25vh;
    object-fit: cover;

}
.sliderCards{
    display: flex;
}

#lessonsDiv{
    background-color: black;
    width: 99vw;
    height: 99vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;


}
#lessonsDiv h2{
    color: white;
    font-size: 2rem;
}

#lessonsDiv img{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20vw;
    margin-bottom: -1.7vh;
}

#lessonsDiv a{
    text-decoration: none;
}
#lessonsDiv a:hover{
    filter: invert(0.5);
    -webkit-filter: invert(0.5);
}
#lessonsList{
    margin-left: 30vw;
    margin-top: 10vh;
}

.h2Spacing{
    margin-bottom: 10vh;
}

#verticalText{
    position: absolute;
    left: 0;
    top: 90%;
    transform: translate(0%, -50%) rotate(-90deg); 
    transform-origin: left top; 
    white-space: nowrap; 
    font-size: 20rem;
    color: brown;
}